/* #region スターターパック */
/* -webkitの情報-
    webkit- : Chrome, Safari, Opera
    moz- : Firefox
    ms- : Internet Explorer(考えなくてヨシ)
    khtml- : Konqueror(考えなくてヨシ)
    o- : 古いOpera(考えなくてヨシ)
    ただし、-webkit-は**Safari以外**ではプレフィックスなしで使用可能なプロパティも多い。
    例外的に、user-selectは全てのブラウザでプレフィックスが必要。
    さらに例外的に、touch-calloutはSafariでしか使用できない。
*/
html{
    margin: -8px;
    overflow: hidden;
    user-select:none;
}
body{
    width: 100vw;
    height: 100vh;
    white-space: nowrap;

    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

img{
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}
::-webkit-scrollbar{
    display: none;
}
:focus{
    outline: none;
}

:root{
    --mostop: 2147483647;
}

/* #region else */
.nicotext{
    position: fixed;
    background: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 5.0s linear;
    white-space: nowrap;
    pointer-events: none;
    z-index: var(--mostop);
}

.tobitext{
    display: inline-block;
    padding: 4px 8px;
    background: var(---back);
    border-radius: 8px;
    position: absolute;
    white-space: nowrap;
    color: #ffffff;
    position: absolute;
    /* transform: translate(-50%, -50%) translateY(0px); */
    transition: none;
    opacity: 1;
    pointer-events: none;
    z-index: var(--mostop);
}
.tobitext.booba{
    border-radius: 50%;
}
.tobitext.kiki{
    padding: 8px 20px;
}

.p_star{
    background: #ffe048;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.p_heart{
    background:#ff9ce6;
    transform:rotate(-45deg);
}
.p_heart::before,
.p_heart::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:inherit;
    border-radius:50%;
}
.p_heart::before{
    top:-60px;
    left:0;
}
.p_heart::after{
    left:60px;
    top:0;
}

.kirameki{
    display: block;
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    pointer-events: none;
    z-index: 255;
}

#hakaisatsu{ /*img*/
    height: 120vh;
    aspect-ratio: 1/1;
    position: fixed;
    top: -10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--mostop);
    pointer-events: none;
}
/* #endregion */

/* #region logとtext */
#logOutput{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    position: fixed;
    opacity: 0.7;
    z-index: 2147483647;
    &.on{
        display: flex;
    }

    & .logs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
        width: 300px;
        height: 75px;
        max-height: 75px;
        overflow: scroll;
        padding: 3px;
        background: var(--ki-bor);
        font-size: 10px;

        & .log{color: #dedede}
        & .warn{color: #f0d992}
        & .error{color: #f09292}
    }

    & .row{
        width: 100%;
        height: fit-content;
        gap: 2px;

        & textarea{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
             min-height: 22px;
            background: var(--ki-bor);
            color: #dedede;
            resize: none;
            field-sizing: content;
            box-sizing: border-box;
        }
        & .bt{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 22px;
            aspect-ratio: 2/1;
            background: #7a7ac8;
            font-size: 11px;
        }
    }
}
#log{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 310px;
    height: 200px;
    border: 2px solid #ffffff;
     border-right: none;
    position: fixed;
    right: -280px;
    bottom: 20%;
    transition: right 1.0s ease;
    color: #fefefe;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
}
#log.hid{
    right: -310px;
}
#log.tog{
    right: 0px;
}
#log .opener{
    width: 30px;
    height: 100%;
    background: #000000ef;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
#log .main{
    width: 280px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #000000de;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
}
#log .text{
    display: none;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    background: #000000ce;
    position: fixed;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn 0.5s ease forwards;
    box-sizing: border-box;
    z-index: 2147483647;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* #endregion */

/* #region description */
#mobileDesc{
    display: none;
    position: fixed;
    pointer-events: none;
    background: #363636e2;
    color: #f0f8ff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: var(--mostop);
}
#mobileDesc.show{
    display: block;
}
/* #endregion */

/* #region timer */
#timer{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    aspect-ratio: 1/1;
    background: var(--ki-bor);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    bottom: 10px;
    transition: opacity 0.1s ease-in-out;
    color: var(--ki-back);
    font-size: 28px;
    line-height: 28px;
    font-family: cube12;
    opacity: 0.90;
    cursor: grab;
    z-index: 2;
}
#timer::after{
    /* 上の突起物 */
    content: "";
    width: 30%;
    aspect-ratio: 3/4;
    background: var(--ki-bor);
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}
#timer.show{
    display: flex;
}
#timer.tog{
    opacity: 0.10;
}
#timer div{
    pointer-events: none;
}
/* #endregion */

/* #region tk */
.tk{
    position: fixed;
}
.tk.mostop{
    z-index: var(--mostop);
}
.tk.cenXY{
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.tk.cenX{
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.tk.cenY{
    top: 50% !important;
    transform: translateY(-50%) !important;
}
/* #endregion */

/* #region alertD */
.alertD{
    display: block;
    width: 320px;
    height: 70px;
    border-radius: 15px;
    box-shadow: #000000 5px 5px 20px;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.1s linear;
    will-change: bottom;
    overflow: hidden;
    box-sizing: border-box;
    z-index: var(--mostop);
    &.show{bottom: 20px}

    & .row{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        
        & .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            font-size: 20px;
        }

        & .text{
            font-size: 18px;
        }
    }

    & .x{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: #00000000;
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 20px;
        cursor: pointer;
    }


    & .bar{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        border-radius: 0 0 15px 15px;
        overflow: hidden;

        & .inner{
            width: 0px;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.DBdesc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
     max-width: 300px;
    height: fit-content;
     max-height: 600px;
    overflow: scroll;
    padding: 10px;
    border: 4px groove #fffea7;
    background: var(--ki-bor);
    position: fixed;
    transition: opacity 0.2s;
    font-size: 12px;
    color: #fefefe;
    cursor: grab;
    opacity: 0.9;
    z-index: 2147483647;
    &:active{
        opacity: 0.7;
    }
}
/* #endregion */

/* #region botan */
.botan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    aspect-ratio: 4/1;
    padding: 0 5px;
    background: var(--botan);
    color: var(--botan-col, var(--ki-bor));
    border: 3px solid var(--botan-col, var(--ki-bor));
    transition: background 0.25s, color 0.25s;
    position: relative;
}
.botan:hover{
    scale: 1.05;
}
.botan:active{
    scale: 0.95;
}
.botan.tog{
    background: var(--botan-ed, var(--ki-bor));
    color: var(--botan-col-ed, var(--ki-back));
    border: 3px solid var(--botan-col, var(--ki-back));
}
/* #endregion */

/* #region checkbox　& slider */
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    aspect-ratio: 3/1;
    padding: 0 5px;
    background: var(--back, var(--ki-back));
        color: var(--back-col, var(--ki-bor));
        transition: background 0.25s, color 0.25s;
    position: relative;
    border-radius: 20px;
}
.checkbox.tog{
    background: var(--backed, var(--ki-bor));
        color: var(--backed-col, var(--ki-back));
}
.checkbox .text{
    font-family: comicsans;
}

input[type="range"].slider{
    /* スライダー */
    appearance: none;
    width: 100px;
    height: 10px;
    background: var(--ki-back);
    border-radius: 5px;
}

input[type="range"].slider::-webkit-slider-thumb{
    /* つまみ */
    appearance: none;
    height: 25px;
    aspect-ratio: 1/1;
    background: var(--tsuma, var(--ki-bor));
    /* border-radius: 50%; */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    cursor: pointer;
    transition: 0.2s;
}

input[type="range"].slider::-webkit-slider-thumb:hover{
    /* つまみ（ホバー） */
    transform: scale(1.2);
}
/* #endregion */

/* #region <モード> */
.mode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
}
.mode.tate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .mode.yoko{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.mode.grid2{
    /* 横に2、縦に無限 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.mode.grid3{
    /* 横に3、縦に無限 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.mode.tags{
    /* 文字数に応じて大小が定まるwidthのdiv(heightは24px)をgridに格納する型。横は最大80%で、縦に制限はない。 */
    display: flex;
    flex-wrap: wrap; /* これで、横に入り切らなくなったら自動で下に折り返す */
    justify-content: center; 
    align-content: center;
    max-width: 80%;
    gap: 5px;
}

/* 弾を */
.mode .item{
    background: var(--botan, var(--ki-back));
    color: var(--botan-col, var(--ki-bor));
    border: 4px solid var(--botan-col, var(--ki-bor));
    position: relative;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
}
.mode .item img{
    width: fit-content;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.mode .item:hover{
    scale: 1.05;
}
.mode .item:active{
    scale: 0.95;
    background: var(--botan-ed, var(--ki-bor));
    color: var(--botan-col-ed, var(--ki-back));
}


.mode.tate .item{
    width: 80%;
    aspect-ratio: 4/1;
    padding: 0 5px;
}
/* .mode.yoko .item{
    height: 70%;
    aspect-ratio: 2/5;
    padding: 5 5px;
} */
.mode.grid2 .item,
.mode.grid3 .item{
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5px;
}
.mode.tags .item{
    width: fit-content;
    height: 24px;
    padding: 0 8px;
    line-height: 16px;
    white-space: nowrap;
}
/* #endregion */

/* #region テンキー */
#tenshee{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: fit-content;
    padding: 10px;
    background: #dedede;
    border: 4px groove #ff8000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    pointer-events: none;
    z-index: var(--mostop);
}
#tenshee.show{
    display: flex;
}
#tenshee .disp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background: #ffffff;
    border: 3px solid #a2a2a2;
    box-sizing: border-box;
    pointer-events: none;
    /* cursolは"触れれないよ！"みたいなやつにしたい */
    cursor: not-allowed;
}
#tenshee .bts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}
#tenshee .bts .bt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background: #ffffff;
    border: 3px solid #a2a2a2;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
}
#tenshee .bts .bt:active{
    scale: 0.90;
}
#tenshee .bts .bt.del{
    /* background: #ce1414; */
    background: #ffb8b8;
}
#tenshee .bts .bt.ok{
    /* background: #27a227; */
    background: #ceffce;
}
/* #endregion */

/* #region movlis */
#movlis{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: fit-content;
    padding: 10px;
    background: #00000023;
    position: fixed;
    color: #e3e3e3;
    text-align: center;
    box-sizing: border-box;
    z-index: 2100;
}
#movlis.tog{
    display: flex;
}
#movlis .title{
    font-size: 20px;
    text-align: center;
}
#movlis .list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7.5px;
}
#movlis .list .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 5px 0;
    background: #4d4d4d;
    border: 2px solid #00000000;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
#movlis .list .item:hover{
    border-color: #e3e3e3;
}
/* #endregion */

/* #endregion */

/* #region copypaste */
水色 #f0f8ff, #eaf5ff, #def0ff, #cfe9ff, #b5dcff
紫色 #f8f6ff, #f5f2ff, #f1edff, #ece8ff, #e9e4ff
橙色 #fffaf3, #fff7eb, #fff3e2, #fff0d9, #ffeccf
緑色 #f6fff2, #eeffe7, #e6ffdc, #ddffd0, #d4ffc3

#template{
    /* 順番だけ */
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */
    padding: 5px;
    background: #f0f8ff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 999;
    margin-right: 5px;
    margin-bottom: 5px;
}
/* #endregion */

#main{
    display: block;
    width: var(--iPhone-width);
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.space{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
}
.space.show{
    display: flex;
}


/* 
今回の基調: 
*/

#over{
    content: "とくになし";
}
#over .list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    width: 85%;
    height: 80%;
    padding: 10% 0;

    & .bt{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 5px solid var(--ki-bor);
        transition: scale 0.1s ease-in-out;
        &:active{scale: 0.90};
    }
}

#link{
    content: "リンク";
}
#link .upper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 8%;
    padding: 2px 4px;
    background: var(--ki-back);
    border-bottom: 3px solid var(--ki-bor);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    & .flip{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        aspect-ratio: 1/1;
        background: var(--ki-aima);
        &.mood::after{
            content: "";
            width: 90%;
            height: 90%;
            background: var(--ki-bor);
            clip-path: polygon(
                47% 0%, 53% 0%, 53% 47%, 
                97% 22%, 100% 28%, 53% 51%, 
                97% 72%, 92% 78%, 53% 53%, 
                53% 100%, 47% 100%, 47% 53%, 
                3% 78%, 0% 72%, 47% 51%, 
                0% 28%, 3% 22%, 47% 47%
            );
            transition: clip-path 0.5s ease-in-out;
            z-index: 2;
        }
        &.mood.tog::after{
            background: var(--ki-back);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

        }
    }
}
#link .main{
    display: grid;
    grid-template-columns: repeat(var(--link-mode), 1fr);
    column-gap: 20px;
    row-gap: 15px;
    width: 95%;
    height: fit-content;
     max-height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10vh 0 10px;
    box-sizing: border-box;

    & .item{
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        /* height: 100px; */
        aspect-ratio: 3 / 4;
        padding-left: 3px;
        background: var(--ki-back);
        border: 3px solid var(--ki-bor);
         border-radius: 10px;
        transition: scale 0.2s;
        box-sizing: border-box;
        &:active{scale: 0.90}

        & img{
            display: block;
            width: 70%;
            aspect-ratio: 1/1;
            object-fit: contain;
            margin-bottom: 30px;
        }
        
        & .label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 20px;
            align-self: flex-start;
            line-height: 20px;
            color: #2d3f6b;
        }

        & .tags{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 3px;
            width: fit-content;
             max-width: 90%;
            height: 14px;
            overflow: hidden;
            align-self: flex-start;
            font-size: 9px;
            line-height: 14px;
        }
    }
}