/* #region スターターパック */
/* -webkitの情報-
    webkit- : Chrome, Safari, Opera
    moz- : Firefox
    ms- : Internet Explorer(考えなくてヨシ)
    khtml- : Konqueror(考えなくてヨシ)
    o- : 古いOpera(考えなくてヨシ)
    ただし、-webkit-は**Safari以外**ではプレフィックスなしで使用可能なプロパティも多い。
    例外的に、user-selectは全てのブラウザでプレフィックスが必要。
    さらに例外的に、touch-calloutはSafariでしか使用できない。
*/
html{
    margin: -8px;
    overflow: hidden;
    user-select:none;
}
body{
    width: 100vw;
    height: 100vh;
    white-space: nowrap;

    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

img{
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}
::-webkit-scrollbar{
    display: none;
}
:focus{
    outline: none;
}

:root{
    --mostop: 2147483647;
}

/* #region else */
.nicotext{
    position: fixed;
    background: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 5.0s linear;
    white-space: nowrap;
    pointer-events: none;
    z-index: var(--mostop);
}

.tobitext{
    display: inline-block;
    padding: 4px 8px;
    background: var(---back);
    border-radius: 8px;
    position: absolute;
    white-space: nowrap;
    color: #ffffff;
    position: absolute;
    /* transform: translate(-50%, -50%) translateY(0px); */
    transition: none;
    opacity: 1;
    pointer-events: none;
    z-index: var(--mostop);
}
.tobitext.booba{
    border-radius: 50%;
}
.tobitext.kiki{
    padding: 8px 20px;
}

.p_star{
    background: #ffe048;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.p_heart{
    background:#ff9ce6;
    transform:rotate(-45deg);
}
.p_heart::before,
.p_heart::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:inherit;
    border-radius:50%;
}
.p_heart::before{
    top:-60px;
    left:0;
}
.p_heart::after{
    left:60px;
    top:0;
}

.kirameki{
    display: block;
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    pointer-events: none;
    z-index: 255;
}

#hakaisatsu{ /*img*/
    height: 120vh;
    aspect-ratio: 1/1;
    position: fixed;
    top: -10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--mostop);
    pointer-events: none;
}
/* #endregion */

/* #region logとtext */
#log{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 310px;
    height: 200px;
    border: 2px solid #ffffff;
     border-right: none;
    position: fixed;
    right: -280px;
    bottom: 20%;
    transition: right 1.0s ease;
    color: #fefefe;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
}
#log.hid{
    right: -310px;
}
#log.tog{
    right: 0px;
}
#log .opener{
    width: 30px;
    height: 100%;
    background: #000000ef;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
#log .main{
    width: 280px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #000000de;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
}
#log .text{
    display: none;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    background: #000000ce;
    position: fixed;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn 0.5s ease forwards;
    box-sizing: border-box;
    z-index: 2147483647;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* #endregion */

/* #region description */
#mobileDesc{
    display: none;
    position: fixed;
    pointer-events: none;
    background: #363636e2;
    color: #f0f8ff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: var(--mostop);
}
#mobileDesc.show{
    display: block;
}
/* #endregion */

/* #region timer */
#timer{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    aspect-ratio: 1/1;
    background: #2b2b2b;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    bottom: 10px;
    transition: opacity 0.1s ease-in-out;
    color: #b2b2b2;
    font-size: 28px;
    line-height: 28px;
    font-family: cube12;
    opacity: 0.90;
    cursor: grab;
    z-index: 2;
}
#timer::after{
    /* 上の突起物 */
    content: "";
    width: 30%;
    aspect-ratio: 3/4;
    background: #2b2b2b;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}
#timer.show{
    display: flex;
}
#timer.tog{
    opacity: 0.10;
}
#timer div{
    pointer-events: none;
}
/* #endregion */

/* #region tk */
.tk{
    position: fixed;
}
.tk.mostop{
    z-index: var(--mostop);
}
.tk.cenXY{
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.tk.cenX{
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.tk.cenY{
    top: 50% !important;
    transform: translateY(-50%) !important;
}
/* #endregion */

/* #region alertD */
.alertD{
    display: block;
    width: 320px;
    height: 70px;
    border-radius: 15px;
    box-shadow: #000000 5px 5px 20px;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.1s linear;
    will-change: bottom;
    overflow: hidden;
    box-sizing: border-box;
    z-index: var(--mostop);
}
.alertD.show{
    bottom: 20px;
}
.alertD .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.alertD .row .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 20px;
}
.alertD .row .text{
    font-size: 18px;
}
.alertD .x{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #00000000;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 20px;
    cursor: pointer;
}
.alertD .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
.alertD .bar .inner{
    width: 0px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* #endregion */

/* #region botan */
.botan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    aspect-ratio: 4/1;
    padding: 0 5px;
    background: var(--botan);
    color: var(--botan-col, #2b2b2b);
    border: 3px solid var(--botan-col, #2b2b2b);
    transition: background 0.25s, color 0.25s;
    position: relative;
}
.botan:hover{
    scale: 1.05;
}
.botan:active{
    scale: 0.95;
}
.botan.tog{
    background: var(--botan-ed, #2b2b2b);
    color: var(--botan-col-ed, #b2b2b2);
    border: 3px solid var(--botan-col, #b2b2b2);
}
/* #endregion */

/* #region checkbox　& slider */
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    aspect-ratio: 3/1;
    padding: 0 5px;
    background: var(--back, #b2b2b2);
        color: var(--back-col, #2b2b2b);
        transition: background 0.25s, color 0.25s;
    position: relative;
    border-radius: 20px;
}
.checkbox.tog{
    background: var(--backed, #2b2b2b);
        color: var(--backed-col, #b2b2b2);
}
.checkbox .text{
    font-family: comicsans;
}

input[type="range"].slider{
    /* スライダー */
    appearance: none;
    width: 100px;
    height: 10px;
    background: #b2b2b2;
    border-radius: 5px;
}

input[type="range"].slider::-webkit-slider-thumb{
    /* つまみ */
    appearance: none;
    height: 25px;
    aspect-ratio: 1/1;
    background: var(--tsuma, #2b2b2b);
    /* border-radius: 50%; */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    cursor: pointer;
    transition: 0.2s;
}

input[type="range"].slider::-webkit-slider-thumb:hover{
    /* つまみ（ホバー） */
    transform: scale(1.2);
}
/* #endregion */

/* #region <モード> */
.mode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
}
.mode.tate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .mode.yoko{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.mode.grid2{
    /* 横に2、縦に無限 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.mode.grid3{
    /* 横に3、縦に無限 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.mode.tags{
    /* 文字数に応じて大小が定まるwidthのdiv(heightは24px)をgridに格納する型。横は最大80%で、縦に制限はない。 */
    display: flex;
    flex-wrap: wrap; /* これで、横に入り切らなくなったら自動で下に折り返す */
    justify-content: center; 
    align-content: center;
    max-width: 80%;
    gap: 5px;
}

/* 弾を */
.mode .item{
    background: var(--botan, #b2b2b2);
    color: var(--botan-col, #2b2b2b);
    border: 4px solid var(--botan-col, #2b2b2b);
    position: relative;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
}
.mode .item img{
    width: fit-content;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.mode .item:hover{
    scale: 1.05;
}
.mode .item:active{
    scale: 0.95;
    background: var(--botan-ed, #2b2b2b);
    color: var(--botan-col-ed, #b2b2b2);
}


.mode.tate .item{
    width: 80%;
    aspect-ratio: 4/1;
    padding: 0 5px;
}
/* .mode.yoko .item{
    height: 70%;
    aspect-ratio: 2/5;
    padding: 5 5px;
} */
.mode.grid2 .item,
.mode.grid3 .item{
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5px;
}
.mode.tags .item{
    width: fit-content;
    height: 24px;
    padding: 0 8px;
    line-height: 16px;
    white-space: nowrap;
}
/* #endregion */

/* #region テンキー */
#tenshee{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: fit-content;
    padding: 10px;
    background: #dedede;
    border: 4px groove #ff8000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    pointer-events: none;
    z-index: var(--mostop);
}
#tenshee.show{
    display: flex;
}
#tenshee .disp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background: #ffffff;
    border: 3px solid #a2a2a2;
    box-sizing: border-box;
    pointer-events: none;
    /* cursolは"触れれないよ！"みたいなやつにしたい */
    cursor: not-allowed;
}
#tenshee .bts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}
#tenshee .bts .bt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background: #ffffff;
    border: 3px solid #a2a2a2;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
}
#tenshee .bts .bt:active{
    scale: 0.90;
}
#tenshee .bts .bt.del{
    /* background: #ce1414; */
    background: #ffb8b8;
}
#tenshee .bts .bt.ok{
    /* background: #27a227; */
    background: #ceffce;
}
/* #endregion */

/* #region movlis */
#movlis{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: fit-content;
    padding: 10px;
    background: #00000023;
    position: fixed;
    color: #e3e3e3;
    text-align: center;
    box-sizing: border-box;
    z-index: 2100;
}
#movlis.tog{
    display: flex;
}
#movlis .title{
    font-size: 20px;
    text-align: center;
}
#movlis .list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7.5px;
}
#movlis .list .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 5px 0;
    background: #4d4d4d;
    border: 2px solid #00000000;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
#movlis .list .item:hover{
    border-color: #e3e3e3;
}
/* #endregion */

/* #endregion */

/* #region copypaste */
水色 #f0f8ff, #eaf5ff, #def0ff, #cfe9ff, #b5dcff
紫色 #f8f6ff, #f5f2ff, #f1edff, #ece8ff, #e9e4ff
橙色 #fffaf3, #fff7eb, #fff3e2, #fff0d9, #ffeccf
緑色 #f6fff2, #eeffe7, #e6ffdc, #ddffd0, #d4ffc3

#template{
    /* 順番だけ */
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */
    padding: 5px;
    background: #f0f8ff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 999;
    margin-right: 5px;
    margin-bottom: 5px;
}
/* #endregion */

#main{
    display: block;
    width: var(--iPhone-width);
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.space{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
}
.space.show{
    display: flex;
}


#tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow: auto;
    background: #fffaf3;
}
#tools .mono{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    width: 100%;
    /* height: 380px; */
    padding: 10px 20px;
    background: #fff7eb;
    border: 3px solid #fff0d9;
    box-sizing: border-box;
}

/* #region hen */
#tools .hen{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: fit-content;
    font-family: genjuu;
    font-size: 23px;
}
#tools .hen .lavel{
    flex: 1;
}
#tools .hen input{
    border: none;
    background: #fff3e2;
    color: #222222;
    flex: 1;
}
/* #endregion */

/* #region textcount */
#tools .textcount{
    display: flex;
    flex-direction: column;
    gap: 2px;

    .label{
        border-bottom: 2px dashed #00000000;
        line-height: 16px;
        margin-bottom: 2px;
    };
     .label:hover{border-color: #363979};
     .label:active{scale: 0.90};
    & input{
        background: #fffaf4;
    };

    &.hiro{
       textarea{
            width: 100%;
            height: 200px;
        }
        
    }

    

    /* &.hiro{
        .lavel{
            border-bottom: 1.5px dashed #363979;
        }
    } */
}
/* #endregion */

/* #region roulette? */
#tools .ransele{
    height: fit-content;
    padding: 20px 10px;
}
#tools .ransele .oya{
    display:flex;
    justify-content:center;
    align-items:center;
    width:200px;
    aspect-ratio: 5/2;
    background: #fffaf4;
    border: 6px groove #c98614;
    container-type:inline-size;
}
#tools .ransele .oya .text{
    /* border-bottom: 1.5px dashed #503d1d; */
    white-space:nowrap;
    font-size:clamp(8px,10cqi,20px);
}
#tools .ransele .input{
    /* textarea */
    width: 70%;
    height: 100px;
    border: none;
    background: #fffaf4;
    color: #222222;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
#tools .ransele .bt{
    /* 使われない かも */
    display: block;
    width: 35px;
    aspect-ratio: 1/2;
    background: #7a9fff;
}
/* #endregion */

/* #region anagram */
#tools .anagram{
    height: 420px;
    position: relative;
}
#tools .anagram .row{
    gap: 3px;
}
#tools .anagram .out{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5px;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
#tools .anagram .out .item{
    width: 90%;
    padding: 2px 4px;
    border: 2px solid #00000000;
    background: #fff7eb;
}
#tools .anagram .out .item.kira{
    background: #daffd8;
}
#tools .anagram .out .item:hover{
    border: 2px solid #ffe7c3;
    background: #fff4e2;
}

#tools .anagram .sage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    top: -25px;
    transition: top 0.5s ease;
}
#tools .anagram .sage.tog{
    top: 0;
}
#tools .anagram .sage .kira{
    opacity: 0;
    width: 140px;
    height: 25px;
    background: #fffaf3;
    border: none;
    transition: opacity 0.5s ease;
    box-sizing: border-box;
}
#tools .anagram .sage.tog .kira{
    opacity: 1;
}
#tools .anagram .sage .opener{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    background: #fff0d9;
    position: relative;
    color: #e5c492;
    transition: color 0.5s ease;
    cursor: pointer;
    box-sizing: border-box;
}
#tools .anagram .sage .opener:hover{
    color: #5c4a2e;
}
/* #endregion */

/* #region rannm */
#tools .rannm{
    content:'rannm';
    font-family: genjuu;
}
#tools .rannm .input{
    border: none;
    border-bottom: 1px solid #2b2b2b;
    font-size: 18px;
}
#tools .rannm .row{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}
#tools .rannm .row .bt{
    display: block;
    width: 40px;
    aspect-ratio: 2/1;
    padding: 5px 15px;
    scale: 1.0;
    background: #ffe9c7;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    text-align: center;
    transition: background 0.05s ease-in-out, scale 0.05s ease-in-out;
}
#tools .rannm .row .bt:hover{
    scale: 1.1;
}
#tools .rannm .row .bt:active{
    scale: 0.9;
}
/* #endregion */

/* #region bee-game */
#asobs .bee-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#asobs .bee-game .bar{
    font-family: misaki;
    font-size: 60px;
}
#asobs .bee-game .log{
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: flex-start;
    width: 90%;
    height: 125px;
    max-height: 125px;
    background: #fff3e2;
    padding: 10px 5px;
    border: 2px solid #ffdb98;
    border-left: none;
    border-right: none;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#asobs .bee-game .log span{
    pointer-events: none;
}
#asobs .bee-game.w1 .log{
    background: #ffe7e2;
}
#asobs .bee-game.w2 .log{
    background: #f1f9ff;
}
#asobs .bee-game .bt{
    display: none;
    width: 60px;
    aspect-ratio: 3/1;
    padding: 5px 10px;
    background: #fff3e2;
    text-align: center;
    box-sizing: border-box;
}
#asobs .bee-game.play .bt{
    display: block;
}
#asobs .bee-game .bt.start{
    display: block;
    width: 90px;
    margin-bottom: 5px;
}
#asobs .bee-game.play .bt.start{
    display: none;
}
#asobs .bee-game .bt:hover{
    padding: 3px 8px;
    background: #ffecd1;
    border: 2px solid #ffc250;
}
#asobs .bee-game.ing .bt:hover{
    background: #8b8b8b;
    border-color: #464646;
}
#asobs .bee-game .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* #endregion */

/* #region race-game */
#asobs .race-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
#asobs .race-game .area{
    display: none;
    width: 100%;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
}

#asobs .race-game .area.title{
    display: block;
    background: #ffefd8;
}
#asobs .race-game.play .area.title{display: none;}
#asobs .race-game .title .lavel{
    font-size: 40px;
    color: #895000;
    text-align: center;
}
#asobs .race-game .title .start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    aspect-ratio: 5 / 2;
    background: #ffeed6;
    scale: 1;
    transition: scale 0.05s ease-in-out;
    margin: 0 auto;
    border: 3px solid #a46b00;
    font-size: 28px;
    box-sizing: border-box;
    cursor: pointer;
}
#asobs .race-game .title .start:hover{
    background: #ffe6c2;
    scale: 1.2;
}

#asobs .race-game .area.junbee{
    /* スマブラ風にする予定 */
    background: #ffe7e2;
}
#asobs .race-game.phase1 .junbee{
    display: block;
}
#asobs .race-game .junbee .list{
    display: grid;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
#asobs .race-game .junbee .list .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px;
    background: #ffd1d1;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    pointer-events: none;
}
#asobs .race-game.kimeing .junbee .list .item{
    pointer-events: all;
}
/* alice, bob, charles, random */
#asobs .race-game.kimeing .junbee .list .item::after{content: attr(data-name)}

.raceG-lect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    scale: 1.0;
    background: #fff3e2;
    border: 2px solid #8f6d3d;
    transition: scale 0.05s ease-in-out;
    text-align: center;
    font-size: 10px;
    color: #2b2b2b;
    box-sizing: border-box;
    pointer-events: all;
}
.raceG-lect:hover{
    scale: 1.1;
}
.raceG-lect.moving{
    scale: 0.9;
    position: fixed;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 2147483647;
}
#asobs .race-game .junbee .list .item .raceG-lect{
    z-index: 2;
}
.raceG-lect.w0{border-color: #ff5454;}
.raceG-lect.w1{border-color: #5269ff;}
.raceG-lect.w2{border-color: #fffc55;}
.raceG-lect.w3{border-color: #54ff42;}

#asobs .race-game .junbee .selected{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 95px;
    padding: 15px;
    padding-bottom:0px;
    box-sizing: border-box;
}
#asobs .race-game .junbee .selected .sele{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 3/2;
    background: #fff3e2;
    border: 2px solid #2b2b2b;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
    position: relative;
    box-sizing: border-box;
}
#asobs .race-game .junbee .selected .sele::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    clip-path: polygon(0 -1%, 20% -1%, -1% 105%, -1% 0%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#asobs .race-game .junbee .selected .img{
    height: 85%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    left: 5%;
    bottom: 0;
}
#asobs .race-game .junbee .selected .sele.w0::before{background: #ff5454;}
#asobs .race-game .junbee .selected .sele.w1::before{background: #5269ff;}
#asobs .race-game .junbee .selected .sele.w2::before{background: #fffc55;}
#asobs .race-game .junbee .selected .sele.w3::before{background: #54ff42;}
#asobs .race-game .junbee .selected .sele::before{
    content: '';
    width: 100%;
    height: 100%;
    clip-path: polygon(70% -1%, 101% -1%, 101% 101%, 50% 101%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#asobs .race-game .junbee .selected .sele .text{
    position: absolute;
    right: 1px;
    bottom: 10%;
    font-size: 8px;
    text-align: right;
    z-index: 2;
}

#asobs .race-game .junbee .go{
    display: block;
    opacity: 0.9;
    width: 150%;
    height: 60px;
    background: #300000;
    border: 4px solid #ab0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}
#asobs .race-game.kimeing .junbee .go{
    display: none;
}

#asobs .race-game .area.kaijou{
    background: #fff7eb;
    position: relative;
}
#asobs .race-game .kaijou .timer{
    display: block;
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.9;
    z-index: 2;
}
#asobs .race-game .kaijou .timer.tog{
    opacity: 0.1;
}
/* logは中央に黒背景白文字で出して、押したらほぼ透明/逆透明を切り替えれる形？追加されると0.5に？ */
#asobs .race-game .kaijou .timer .zyou{
    width: 100%;
    aspect-ratio: 1/1;
    clip-path: polygon(45% 0, 55% 0, 60% 20%, 40% 20%);
    background: #464646;
    position: absolute;
    top: -10%;
    left: 0;
}
#asobs .race-game .kaijou .timer .naka{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #464646;
    position: absolute;
    top: 0;
    left: 0;
}
#asobs .race-game .kaijou .timer .time{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: misaki;
    color: #ffffff;
}

#asobs .race-game .kaijou .log{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 200px;
    max-height: 200px;
    padding: 10px 5px;
    opacity: 0.85;
    background: #000000;
    border: 5px solid #ffd297;
    border-top: none;
    border-bottom: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: opacity 0.5s;
    text-align: left;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 2;
}
#asobs .race-game .kaijou .log.tog{
    opacity: 0.01;
}
#asobs .race-game .kaijou .log .span{
    width: 100%;
    font-size: 15px;
    font-family: craft;
    color: #ffffff;
}

/*
#asobs .race-game .kaijou .senshus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
    padding: 15px;
    padding-bottom:0px;
    box-sizing: border-box;
    z-index: 2;
}
#asobs .race-game .kaijou .senshus .sesh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    aspect-ratio: 5 / 1;
    background: #fff3e2;
    border: 3px solid #ffe6c4;
    font-size: 35px;
    font-family: misaki;
    box-sizing: border-box;
}
*/

#asobs .race-game .kaijou .senshus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
    padding: 15px;
    padding-bottom:0px;
    box-sizing: border-box;
    z-index: 2;
}
#asobs .race-game .kaijou .senshus .sesh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    aspect-ratio: 5 / 1;
    background: #fff3e2;
    border: 3px solid #ffe6c4;
    font-size: 35px;
    font-family: misaki;
    box-sizing: border-box;
}
#asobs .race-game .kaijou .senshus .sesh .load{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#asobs .race-game .kaijou .senshus .sesh .load .koma{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#asobs .race-game .kaijou .senshus .sesh .load .koma img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
#asobs .race-game .kaijou .senshus .sesh .load .koma img::after{
    content: '';
    display: block;
    width: 120%;
    aspect-ratio: 1/1;
    background: #fff3e2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#asobs .race-game .kaijou .senshus .sesh .load .koma .スタン{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: "../assets/raceGCs/stun.png";
}

#asobs .race-game.phase2 .area.kaijou{display: block}
#asobs .race-game.phase3 .area.kaijou{display: block}
#asobs .race-game .area.kaijou .end{display: none}
#asobs .race-game.phase3 .area.kaijou .end{display: block}
/* #endregion */


